.right{
    font-size: 2em;
    margin-bottom: 10px;
}
body::before{
    content: "";
    background: url('bg3.jfif') no-repeat center center/cover;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 700px;
    opacity: 0.6;
    z-index: -1;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 3em;
}
header{
    height: 150px;
}
input{
    width:200px;

}